body{
    background-image:url(./assets/image/matthew-smith-Rfflri94rs8-unsplash.jpg);
   background-size:100%;
}
h1{
    
    font-family:Foldit;
    text-align: center;
    font-size:3rem;
    text-transform: uppercase;
}
div{
    size: 100px;
    width: 50%; 
    margin-left:25%;
    text-align: center;
    color: whitesmoke;
    font-family:tapestry ;
}
img{
   
    border:5px solid white;
    width: 100%;
}